script(type='text/x-template' id='setting-form-template')
  = form_with(model: @setting, class: 'main-form setting-form') do |fields|
    = fields.label :name
    = fields.text_field :name
    - if setting.data.is_a?(Hash)
      .(v-for="(data_items, key) in setting.data")
        = fields.fields_for :data do |field|
          label(v-bind:name="key")
            |Setting data {{key}}:
          .(v-if='Array.isArray(data_items)')
            . class="setting-card"
              .(v-for="(item, index) in data_items")
                . class="setting-card nested"
                  = link_to "Remove", '#', 'v-if': "isDynamicItems(data_items)", 'v-on:click.prevent': "removeFormFields(index, key, null)"
                  .(v-if='isHashObject(item)')
                    .(v-for="(item_value, item_key) in item" v-bind:key="item_key")
                      .(v-if='item_key != "format_type"')
                        label(v-bind:name="item_key")
                          |{{item_key}}
                        textarea(
                          type="text"
                          v-bind:id="fieldId(#{fields.object_name.to_json}, key, index, item_key)"
                          v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, key, index, item_key)"
                          v-model="item[item_key]"
                        )
                      .(v-else)
                        input(
                          type="hidden"
                          v-bind:id="fieldId(#{fields.object_name.to_json}, key, index, item_key)"
                          v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, key, index, item_key)"
                          v-model="item[item_key]"
                        )
                  .(v-else)
                    .(v-if='item_key != "format_type"')
                      textarea(
                        type="text"
                        v-bind:id="fieldId(#{fields.object_name.to_json}, key, index)"
                        v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, key, index)"
                        v-model="item"
                      )
                    .(v-else)
                        input(
                          type="hidden"
                          v-bind:id="fieldId(#{fields.object_name.to_json}, key, index)"
                          v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, key, index)"
                          v-model="item"
                        )
          .(v-else-if="isHashObject(data_items)")
            .(v-for="(item_value, item_key) in data_items")
              label(v-bind:name="item_key")
                |{{item_key}}
              textarea(type="text"
                v-bind:id="fieldId(#{fields.object_name.to_json}, item_key)"
                v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, item_key)"
                v-bind:value="setValue(item_value)"
              )
          .(v-else)
            textarea(type="text"
              v-bind:id="fieldId(#{fields.object_name.to_json})"
              v-bind:name="fieldMultipleName(#{fields.object_name.to_json}, key)"
              v-bind:value="data_items"
            )
          = link_to "Add more", '#', 'v-if': "isDynamicItems(data_items) && !isHashObject(data_items)", 'v-on:click.prevent': "addFormFields(key)"
    - else
      = fields.label :data, 'Setting data'
      = fields.text_area :data, 'v-bind:value': "setting.data"
      = hidden_field_tag :db
    = fields.label :description
    = fields.text_area :description, 'v-model': 'setting.description'
    = fields.submit 'Save'
