<!-- <template>
  <div>
    <NavBar />
    <Setting />
  </div>
</template> -->

<!-- <script>
  import Setting from './components/Setting.vue';
  import NavBar  from './components/NavBar.vue';


  export default {
    components: {
      Setting, name: 'Setting',
      NavBar, name: 'NavBar'
    },
  };
</script> -->