@layer components {
  html,
  body {
    @apply
      bg-gray-100
      h-full
      dark:bg-gray-900
      dark:text-gray-300;
  }

/* Button */
  .btn-main {
    @apply
      text-white
      bg-gray-800
      border
      border-gray-800
      focus:outline-none
      hover:bg-gray-500
      hover:border-gray-500
      font-medium
      rounded-lg
      text-sm
      px-5
      py-2.5
      me-2
      mb-2
      dark:bg-gray-200
      dark:text-gray-900
      dark:border-gray-200
      dark:hover:bg-gray-500
      dark:hover:border-gray-500
      dark:focus:ring-gray-200;
  }

/* Card */
  .setting-card {
    @apply
      max-w-sm
      p-6
      border
      bg-white
      border-gray-200
      rounded-lg
      dark:bg-gray-800
      dark:border-gray-700
  }
  .setting-card.nested {
    @apply
      border
      bg-gray-300
      border-gray-300
      dark:bg-gray-700
      dark:border-gray-700
  }

/* Table */
  table {
    @apply
      w-full
      text-sm
      text-left
      rtl:text-right
      text-gray-500
      dark:text-gray-400;
    }
  table thead {
    @apply
      text-xs
      text-gray-700
      uppercase
      bg-gray-200
      dark:bg-gray-700
      dark:text-gray-400;
  }
  table thead tr th {
    @apply
      px-6
      py-3
  }
  table tbody tr {
    @apply
      bg-white
      border-b
      dark:bg-gray-800
      dark:border-gray-700;
  }
  table tbody th {
    @apply
      px-6
      py-4
      font-medium
      text-gray-900
      whitespace-nowrap
      dark:text-white;
  }
  table tbody td {
    @apply
      px-6
      py-4;
  }

/* Form */
  form.main-form {
    @apply
      max-w-sm
      p-5
      mx-auto
      my-10
      bg-gray-200
      rounded-md
      shadow-sm
      dark:bg-gray-700;
  }
  form.main-form label {
    @apply
      block
      mb-2
      text-sm
      font-medium
      text-gray-900
      dark:text-white;
  }
  form.main-form a {
    @apply
      font-medium
      text-blue-600
      dark:text-blue-500
      hover:underline;
  }
  form.main-form input {
    @apply
      bg-gray-50
      border
      border-gray-300
      text-gray-900
      text-sm
      rounded-lg
      focus:ring-blue-500
      focus:border-blue-500
      block
      w-full
      p-2.5
      dark:bg-gray-500
      dark:border-gray-500
      dark:placeholder-gray-400
      dark:text-white
      dark:focus:ring-blue-500
      dark:focus:border-blue-500;
  }
  form.main-form textarea {
    @apply
      text-sm
      text-gray-900
      bg-gray-50
      rounded-lg
      border
      border-gray-300
      focus:ring-blue-500
      block
      w-full
      p-2.5
      focus:border-blue-500
      dark:bg-gray-500
      dark:border-gray-500
      dark:placeholder-gray-400
      dark:text-white
      dark:focus:ring-blue-500
      dark:focus:border-blue-500;
  }
  form.main-form input[type='submit']{
    @apply
      text-white
      bg-gray-800
      border
      border-gray-500
      focus:outline-none
      hover:bg-gray-500
      font-medium
      text-sm
      px-5
      py-2.5
      me-2
      mb-2
      my-10
      dark:bg-gray-200
      dark:text-gray-900
      dark:border-gray-200
      dark:hover:bg-gray-500
      dark:hover:border-gray-500
      dark:focus:ring-gray-200;
  }
}