<template>
  <Disclosure as="nav" class="bg-gray-800" v-slot="{ open }">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <DisclosureButton class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <Bars3Icon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
            <XMarkIcon v-else class="block h-6 w-6" aria-hidden="true" />
          </DisclosureButton>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a v-for="item in navigation" :key="item.name" :href="item.href" :class="[item.current ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'rounded-md px-3 py-2 text-sm font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5" />
            <span class="sr-only">View notifications</span>
            <BellIcon class="h-6 w-6" aria-hidden="true" />
          </button>

          <Menu as="div" class="dropdown relative ml-3">
            <div>
              <MenuButton class="relative flex rounded-md px-3 py-2 text-sm font-medium bg-gray-900 text-lg text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="sr-only">Open user menu</span>
                <div>
                  Menu
                </div>
              </MenuButton>

            </div>
            <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
              <MenuItems class="dropdown-menu absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white dark:bg-gray-700 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <div class="block px-4 py-2 text-base text-gray-700 dark:text-gray-400">
                  <label class="theme-switch">
                    <input type="checkbox" v-model="this.theme_checkbox" @click="toggleThemeMode">
                    <div class="theme-slider round"></div>
                  </label>
                  Theme {{ theme }}
                </div>
                <MenuItem v-slot="{ active }">
                  <a href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-base text-gray-700 dark:text-gray-400']">...</a>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <a href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-base text-gray-700 dark:text-gray-400']">...</a>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <a href="/settings" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-base text-gray-700 dark:text-gray-400']">Settings</a>
                </MenuItem>
              </MenuItems>
            </transition>
          </Menu>
        </div>
      </div>
    </div>

    <DisclosurePanel class="sm:hidden">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <DisclosureButton v-for="item in navigation" :key="item.name" as="a" :href="item.href" :class="[item.current ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'block rounded-md px-3 py-2 text-base font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</DisclosureButton>
      </div>
    </DisclosurePanel>
  </Disclosure>
</template>

<script>
  import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue';
  import { Bars3Icon, BellIcon, XMarkIcon } from '@heroicons/vue/24/outline';

  export default {
    components: {
      Disclosure,
      DisclosureButton,
      DisclosurePanel,
      Menu,
      MenuButton,
      MenuItem,
      MenuItems,
      Bars3Icon,
      BellIcon,
      XMarkIcon,
    },
    props: {
      navbarMenuItems: {
        type: Array,
        default: []
      }
    },
    data(){
      return {
        theme: '',
        theme_checkbox: false
      }
    },
    setup(props) {
      const navigation = props.navbarMenuItems
      return { navigation }
    },
    created() {
        if (!("theme" in localStorage)) {
          localStorage.theme = "light";
        }
      },
    mounted() {
      this.toggleThemeMode(localStorage.theme);
    },
    methods: {
      toggleThemeMode(theme, evt) {
        let htmlElm = document.querySelector("html");
        const setLight = () => {
          htmlElm.classList.remove("dark");
          htmlElm.classList.add("light");
          localStorage.theme = "light";
          this.theme = "light";
        };
        const setDark = () => {
          htmlElm.classList.remove("light");
          htmlElm.classList.add("dark");
          localStorage.theme = "dark";
          this.theme = "dark";
          this.theme_checkbox = !this.theme_checkbox
        };

        if (typeof theme === "string") {
          if (theme == "dark") setDark();
          else setLight();
        } else {
          if (localStorage.theme === "dark") setLight();
          else setDark();
        }
      },
    },
  }
</script>
