<template>
  <SettingForm v-bind:default_data="default_data" v-bind:setting="values"/>
</template>
<script>
  import SettingForm from '../components/forms/SettingForm.vue';

  export default {
    name: 'Setting',
    components: {
      SettingForm,
    },
    props: {
      default_data: {
        type: Object,
        default: () => ({}),
      },
      values: {
        type: Object,
        default: () => ({}),
      },
    },
  };
</script>
