= content_tag :div, id: "form-setting" do
  Setting(
    v-bind:values="#{setting.to_json(except: [:created_at, :updated_at])}"
    v-bind:default_data="#{setting.default_data.to_json}"
  )

- if lookup_context.find_all("settings/forms/_#{setting.default_name}").any?
  = render "settings/forms/#{setting.default_name}", setting: setting
- else
  = render 'settings/forms/default', setting: setting
