div class="relative overflow-x-auto"
  div class="inline-block align-middle"
    = button_to "New Setting", {action: "new"}, method: :get, class: "btn-main"
  table
    thead
      tr
        th scope="col"
            = 'Name'
        th scope="col"
            = 'Default setting'
        th scope="col"
            = 'New setting'
        th scope="col"
            ='Description'
        th scope="col"
            = 'Actions'
    tbody
      - @settings.each do |setting|
        tr
          th
            = setting.name
          td
            = setting.get_default_data(setting.name)
          td
            = setting.data if !setting.new_record?
          td class="px-6 py-4"
            = setting.description
          td class="px-6 py-4"
            div class="inline-flex"
              - if setting.id
                  = button_to "Edit", {action: "edit", id: setting.id}, method: :get, params: {setting_name: setting.name}, class: "btn-main"
                  = button_to "Delete", {action: "destroy", id: setting.id}, method: :delete, class: "btn-main"
              - else
                  = button_to "New", {action: "new"}, method: :get, params: {setting_name: setting.name}, class: "btn-main"
