<!DOCTYPE html>
<html>
  <head>
    <title>Eva</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>

  </head>

  <body>
    <% render 'layouts/navigation' %>
    <% if content_for? :navbar %>
      <%= yield :navbar %>
      <%= vite_javascript_tag 'navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
